# Lecture 5 Iteration
Objectives: 
1. `iterable` objects vs. `iterator` objects
2. `range` objects
3. `enumerate` objects
4. `for` loops with `range`
5. `for` loops with `enumerate`
6. `continue`, `break`
7. `while` loops
8. Comprehension

# Iteration

## `iterable` objects
* have the `iter()` method that returns an iterator object 
* can be iterated over **multiple** times by creating a new `iterator` each time
* examples:
    * sequence: lists, tuples, strings, ranges
    * non-sequence collections: sets, dictionaries

## `iterator` objects
* have the `next()` method that returns one item at a time on demand
* can be iterated over only once (stateful)
* examples:
    * iterators created by iterable objects, file objects, generators

## `for` loops
### `for` loop that iterates over a sequence object

In [ ]:
for i in [1, 2, 3]: # Python internally runs iter([1, 2, 3])
    print(i ** 2) # this line is inside the for loop because it is indented 
print('done')

In [ ]:
# iter(iterable) returns an iterator for the iterable
x = [1, 2, 3]
x_iter = iter(x)
x_iter

In [ ]:
# next() returns the next element to be iterated 
next(x_iter)

In [ ]:
next(x_iter)

In [ ]:
next(x_iter)

In [ ]:
# until it hits the StopIteration
next(x_iter)

In [ ]:
# an iterator can only be iterated through once!
next(x_iter)

In [ ]:
# there's no next() for an iterable
next(x)

In [ ]:
for i in (1, 2, 3): 
    print(i ** 2) 
print('done')

In [ ]:
for i in 'abc': 
    print(i + i) 
print('done')

### `range` objects
* `range()` function returns a `range` object
    * a sequence of numbers
    * an immutable sequence object => an iterable object
        * supports length, indexing, slicing, iteration
    * only generates one number at a time
        * memory efficient for large ranges
     
* syntax: `range(start, stop, step)`
    * `start` (optional): the starting number of the sequence (default is 0).
    * `stop` (required): the ending number of the sequence (**exclusive**).
    * `step` (optional): the difference between each number in the sequence (default is 1).

In [ ]:
r = range(10)
r

In [ ]:
# returns a range object
type(r)

In [ ]:
range.mro()

In [ ]:
# range is an immutable sequence object
# it also supports the four accessing methods
len(r)

In [ ]:
r[2]

In [ ]:
r[2:5:3]

In [ ]:
# range objects generate only one number at a time
for i in r: # internally runs iter(r)
    print(i)

In [ ]:
# use `list()` or `tuple()` to show all numbers
list(range(3))

In [ ]:
list(range(2, 6))

In [ ]:
list(range(3, 10, 3))

### `for` loops with `range()`

In [ ]:
# the following is not common in Python
x = [0, 1, 2, 3, 4, 5]
for i in range(len(x)):
    print(x[i])

In [ ]:
# print a multi table with nested for loops 
def multiplication_table(n):
    pass
multiplication_table(10)

### `enumerate()` function
* takes an `iterable` object
* returns an `enumerate` object
    * an `iterator` object
    * generates a tuples in the form of `(index, element)` lazily
* more efficient and readable version of `range(len(iterable))`

In [ ]:
enumerate([1, 2, 3])

In [ ]:
enumerate.mro()

In [ ]:
# enumerate objects generate elements lazily one at a time
# use list() to show all elements
list(enumerate('ABC'))

In [ ]:
iterable = 'ABC'
# here idx, element is upacking the tuple generated by the enumerate object
for idx, element in enumerate(iterable): 
    print(idx, element)

### `continue`, `break`

In [ ]:
for i in range(0, 10): 
    if i % 2 == 0: 
        continue # skips the current iteration and continues with the next iteration
    print(i)

In [ ]:
for i in range(0, 10): 
    if i >= 5: 
        break # exits the loop entirely, immediately ending the loopâ€™s execution
    print(i)

### `for-else`

In [ ]:
for i in range(5):
    if i == 3:
        break
else:
    print("Loop completed without break")

## `while` loops
syntax: 
```python
while bool_exp: 
    ...
```

In [ ]:
i = 10
while i < 15: 
    print(i)
    i += 1

In [ ]:
i = 10
while i < 15: 
    if i % 2 == 0: 
        i += 1
        continue
    print(i)
    i += 1

In [ ]:
i = 10
while i < 15: 
    if i % 3 == 0: 
        break
    print(i)
    i += 1

In [ ]:
i = 10
while i < 15: 
    print(i)
    i += 1
else: 
    print("Loop completed without break")

# Comprehension 
A concise way to create lists by applying an expression to each item in an iterable.

Syntax: 
```python
[expression for item in iterable]
```
```python
[expression for item in iterable if condition]
```

In [ ]:
x = range(10)

In [ ]:
x_sqrt = []
for i in x:
    x_sqrt.append(i ** 2)
x_sqrt

In [ ]:
# list comprehension
x_sqrt = ???
x_sqrt

In [ ]:
# tuple comprehension
tuple([i ** 2 for i in (1, 2, 3)])

In [ ]:
# or in short
tuple(i ** 2 for i in (1, 2, 3))

In [ ]:
[char.upper() for char in 'abc']

In [ ]:
x_even_sqrt = []
for i in x:
    if i % 2 == 0: 
        x_even_sqrt.append(i ** 2)
x_even_sqrt

In [ ]:
x_even_sqrt = ???
x_even_sqrt

In [ ]:
# set comprehension
{i ** 2 for i in x}

In [ ]:
{i ** 2 for i in x if i % 2 == 0}

In [ ]:
# dict comprehension 
{i: i ** 2 for i in x}

In [ ]:
{i: i ** 2 for i in x if i % 2 == 0}