# Lecture 5 Iteration
Objectives: 
1. `iterable` objects vs. `iterator` objects
2. `range` objects
3. `enumerate` objects
4. `for` loops with `range`
5. `for` loops with `enumerate`
6. `continue`, `break`
7. `while` loops
8. Comprehension

# Iteration

## `iterable` objects
* have the `iter()` method that returns an iterator object 
* can be iterated over **multiple** times by creating a new `iterator` each time
* examples:
    * sequence: lists, tuples, strings, ranges
    * non-sequence collections: sets, dictionaries

## `iterator` objects
* have the `next()` method that returns one item at a time on demand
* can be iterated over only once (stateful)
* examples:
    * iterators created by iterable objects, file objects, generators

## `for` loops
### `for` loop that iterates over a sequence object

In [1]:
for i in [1, 2, 3]: # Python internally runs iter([1, 2, 3])
    print(i ** 2) # this line is inside the for loop because it is indented 
print('done')

1
4
9
done

In [2]:
# iter(iterable) returns an iterator for the iterable
x = [1, 2, 3]
x_iter = iter(x)
x_iter

In [3]:
# next() returns the next element to be iterated 
next(x_iter)

1

In [4]:
next(x_iter)

2

In [5]:
next(x_iter)

3

In [6]:
# until it hits the StopIteration
next(x_iter)

StopIteration:

In [7]:
# an iterator can only be iterated through once!
next(x_iter)

StopIteration:

In [8]:
# there's no next() for an iterable
next(x)

TypeError: 'list' object is not an iterator

In [9]:
for i in (1, 2, 3): 
    print(i ** 2) 
print('done')

1
4
9
done

In [10]:
for i in 'abc': 
    print(i + i) 
print('done')

aa
bb
cc
done

### `range` objects
* `range()` function returns a `range` object
    * a sequence of numbers
    * an immutable sequence object => an iterable object
        * supports length, indexing, slicing, iteration
    * only generates one number at a time
        * memory efficient for large ranges
     
* syntax: `range(start, stop, step)`
    * `start` (optional): the starting number of the sequence (default is 0).
    * `stop` (required): the ending number of the sequence (**exclusive**).
    * `step` (optional): the difference between each number in the sequence (default is 1).

In [11]:
r = range(10)
r

range(0, 10)

In [12]:
# returns a range object
type(r)

range

In [13]:
range.mro()

[range, object]

In [14]:
# range is an immutable sequence object
# it also supports the four accessing methods
len(r)

10

In [15]:
r[2]

2

In [16]:
r[2:5:3]

range(2, 5, 3)

In [17]:
# range objects generate only one number at a time
for i in r: # internally runs iter(r)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
# use `list()` or `tuple()` to show all numbers
list(range(3))

[0, 1, 2]

In [19]:
list(range(2, 6))

[2, 3, 4, 5]

In [20]:
list(range(3, 10, 3))

[3, 6, 9]

### `for` loops with `range()`

In [21]:
# the following is not common in Python
x = [0, 1, 2, 3, 4, 5]
for i in range(len(x)):
    print(x[i])

0
1
2
3
4
5

In [22]:
# print a multi table with nested for loops 
def multiplication_table(n):
    for i in range(1, n + 1):
        for j in range(1, n + 1):
            # f-string: formatted string
            # `:5` prints the content in 5-char width
            # `end=' '` prints ' ' as the end of the string instead of '\n'
            print(f'{i * j:5}', end=' ')
        print()
multiplication_table(10)

    1     2     3     4     5     6     7     8     9    10
    2     4     6     8    10    12    14    16    18    20
    3     6     9    12    15    18    21    24    27    30
    4     8    12    16    20    24    28    32    36    40
    5    10    15    20    25    30    35    40    45    50
    6    12    18    24    30    36    42    48    54    60
    7    14    21    28    35    42    49    56    63    70
    8    16    24    32    40    48    56    64    72    80
    9    18    27    36    45    54    63    72    81    90
   10    20    30    40    50    60    70    80    90   100

### `enumerate()` function
* takes an `iterable` object
* returns an `enumerate` object
    * an `iterator` object
    * generates a tuples in the form of `(index, element)` lazily
* more efficient and readable version of `range(len(iterable))`

In [23]:
enumerate([1, 2, 3])

In [24]:
enumerate.mro()

[enumerate, object]

In [25]:
# enumerate objects generate elements lazily one at a time
# use list() to show all elements
list(enumerate('ABC'))

[(0, 'A'), (1, 'B'), (2, 'C')]

In [26]:
iterable = 'ABC'
# here idx, element is upacking the tuple generated by the enumerate object
for idx, element in enumerate(iterable): 
    print(idx, element)

0 A
1 B
2 C

### `continue`, `break`

In [27]:
for i in range(0, 10): 
    if i % 2 == 0: 
        continue # skips the current iteration and continues with the next iteration
    print(i)

1
3
5
7
9

In [28]:
for i in range(0, 10): 
    if i >= 5: 
        break # exits the loop entirely, immediately ending the loop’s execution
    print(i)

0
1
2
3
4

### `for-else`

In [29]:
for i in range(5):
    if i == 3:
        break
else:
    print("Loop completed without break")

## `while` loops
syntax: 
```python
while bool_exp: 
    ...
```

In [30]:
i = 10
while i < 15: 
    print(i)
    i += 1

10
11
12
13
14

In [31]:
i = 10
while i < 15: 
    if i % 2 == 0: 
        i += 1
        continue
    print(i)
    i += 1

11
13

In [32]:
i = 10
while i < 15: 
    if i % 3 == 0: 
        break
    print(i)
    i += 1

10
11

In [33]:
i = 10
while i < 15: 
    print(i)
    i += 1
else: 
    print("Loop completed without break")

10
11
12
13
14
Loop completed without break

# Comprehension 
A concise way to create lists by applying an expression to each item in an iterable.

Syntax: 
```python
[expression for item in iterable]
```
```python
[expression for item in iterable if condition]
```

In [34]:
x = range(10)

In [35]:
x_sqrt = []
for i in x:
    x_sqrt.append(i ** 2)
x_sqrt

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# list comprehension
x_sqrt = [i ** 2 for i in x]
x_sqrt

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# tuple comprehension
tuple([i ** 2 for i in (1, 2, 3)])

(1, 4, 9)

In [38]:
# or in short
tuple(i ** 2 for i in (1, 2, 3))

(1, 4, 9)

In [39]:
[char.upper() for char in 'abc']

['A', 'B', 'C']

In [40]:
x_even_sqrt = []
for i in x:
    if i % 2 == 0: 
        x_even_sqrt.append(i ** 2)
x_even_sqrt

[0, 4, 16, 36, 64]

In [41]:
x_even_sqrt = [i ** 2 for i in x if i % 2 == 0]
x_even_sqrt

[0, 4, 16, 36, 64]

In [42]:
# set comprehension
{i ** 2 for i in x}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [43]:
{i ** 2 for i in x if i % 2 == 0}

{0, 4, 16, 36, 64}

In [44]:
# dict comprehension 
{i: i ** 2 for i in x}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [45]:
{i: i ** 2 for i in x if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}