# Functions

**Learning Objectives:**
* Functions vs. methods
* Parameters vs. arguments
* Positional, keyword, default, variable arguments
* lambda functions
* Higher-order functions
* Variable scope: LEGB rule

## Fuctions vs. Methods

In Python, **functions** can be defined independently of classes. 

A **method** is a special type of function defined within a class, which we'll cover in the next OOP lecture.

In Java, there is no standalone functions, they are all methods.

Python's **functions** are defined using the syntax
```python
def function_name(parameters): 
    # function body
    # indentation determines what's inside the function
    return return_values
```

In [1]:
def add(x, y): 
    return x + y

In [2]:
add(1, 2)

3

In [3]:
def void_add(x, y): 
    print(x + y)
    # you can simply omit the return statement to make this a void function

In [4]:
void_add(1, 2)

3

## Parameters vs. Arguements
**Parameters** are defined within the function signature.

**Arguments** are values passed to the function when itâ€™s called.

In [5]:
def add(x, y): # x & y here are parameters
    return x + y

In [6]:
add(1, 2) # 1 & 2 here are arguments

3

## Function Arguments

### Positional Arguments
* Arguments are passed in the order they appear in the function signature

In [7]:
def print_course_info(subject, course_num, course_name):
    print(f'Hi, this is {subject.upper()} {course_num} {course_name.title()}!')

In [8]:
print_course_info('cs', 368, 'python for java programmers')

Hi, this is CS 368 Python For Java Programmers!

In [9]:
# must pass positional arguments in the same order!
print_course_info('python for java programmers', 368, 'cs')

Hi, this is PYTHON FOR JAVA PROGRAMMERS 368 Cs!

### Keyword Arguments
* Arguments are passed by explicitly stating each parameter name
* Allow you to skip the order
* More readable

In [10]:
print_course_info(subject = 'cs', course_num = 368, course_name = 'python for java programmers')

Hi, this is CS 368 Python For Java Programmers!

In [11]:
# order is no longer needed
print_course_info(course_num = 368, course_name = 'python for java programmers', subject = 'cs')

Hi, this is CS 368 Python For Java Programmers!

In [12]:
# but the keywords must be exactly the same as they are in the signature
print_course_info(course = 368, course_name = 'python for java programmers', subject = 'cs')

TypeError: print_course_info() got an unexpected keyword argument 'course'

In [13]:
# you can use a mix of positional and keyword args 
print_course_info('cs', 368, course_name = 'python for java programmers')

Hi, this is CS 368 Python For Java Programmers!

In [14]:
# but positional args must be passed in before keyword args
print_course_info(course_name = 'python for java programmers', 'cs', 368)

SyntaxError: positional argument follows keyword argument (1408229990.py, line 2)

#### Default Arguments
* You can assign specify default values to parameters

In [15]:
# default args must be after non-default args
def print_course_info(subject='cs', course_num, course_name):
    print(f'Hi, this is {subject.upper()} {course_num} {course_name.title()}!')

SyntaxError: parameter without a default follows parameter with a default (3176338078.py, line 2)

In [16]:
def print_course_info(course_num, course_name, subject='cs'):
    print(f'Hi, this is {subject.upper()} {course_num} {course_name.title()}!')

In [17]:
# use default value if you didn't pass a value to this parameter
print_course_info(368, 'python for java programmers')

Hi, this is CS 368 Python For Java Programmers!

In [18]:
# override the default if you pass a value
print_course_info(341, 'linear algebra', 'math')

Hi, this is MATH 341 Linear Algebra!

### `*args` for Variable Positional Arguments
* `*args` allows a function to accept any number of positional arguments
* `*args` is the conventional name, you can use any name prefixed with `*` if needed

In [19]:
def add(*nums): 
    print(nums)

In [20]:
# *args will be gathered into a tuple
add(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [21]:
def add(*nums): 
    return sum(nums)

In [22]:
add(1, 2, 3, 4, 5)

15

In [23]:
def add_even(*nums): 
    return sum([i for i in nums if i % 2 == 0])

In [24]:
add_even(1, 2, 3, 4, 5)

6

In [25]:
def indexing(*nums, idx): 
    return nums[idx]

In [26]:
# no positional args after *args
indexing(1, 2, 3, 4, 5, 2)

TypeError: indexing() missing 1 required keyword-only argument: 'idx'

In [27]:
# only keyword args
indexing(1, 2, 3, 4, 5, idx = 2)

3

### `**kwargs` for Variable Keyword Arguments
* `**kwargs` allows a function to accept any number of keyword arguments
* `**kwargs` is the conventional name, you can use any name prefixed with `**` if needed

In [28]:
def print_info(**kwargs):
    print(kwargs)

In [29]:
# *kwargs will be gather into a dict
print_info(name = 'Alice', year = 'sophomore', major = 'cs')

{'name': 'Alice', 'year': 'sophomore', 'major': 'cs'}

In [30]:
def print_info(**kwargs):
    for key, value in kwargs.items(): 
        print(f'{key}: \t {value}')

In [31]:
print_info(name = 'Alice', year = 'sophomore', major = 'cs')

name: 	 Alice
year: 	 sophomore
major: 	 cs

In [32]:
# *kwargs cannot be after keyword args
def print_info(**kwargs, greeting_str):
    print(greeting_str)
    for key, value in kwargs.items(): 
        print(f'{key}: \t {value}')

SyntaxError: arguments cannot follow var-keyword argument (2780618409.py, line 2)

In [33]:
def print_info(greeting_str, **kwargs):
    print(greeting_str)
    for key, value in kwargs.items(): 
        print(f'{key}: \t {value}')

In [34]:
print_info(greeting_str = 'Hello!', name = 'Alice', year = 'sophomore', major = 'cs')

Hello!
name: 	 Alice
year: 	 sophomore
major: 	 cs

Order for the above four types of arguments
1. positional arguments
2. `*args`
3. keyword arguments
4. `**kwargs`

In [35]:
def args_order(x, *args, y=0, **kwargs):
    print(f"x: {x}")
    print(f"args: {args}")
    print(f"y: {y}")
    print(f"kwargs: {kwargs}")

args_order(10, 1, 2, 3, y=20, a=100, b=200)

x: 10
args: (1, 2, 3)
y: 20
kwargs: {'a': 100, 'b': 200}

## Lambda Functions
* anonymous function with a single expression and returns the result of the expression
* syntax: `lambda parameters: expression`

In [36]:
add = lambda x, y: x + y
add(3, 5)

8

In [37]:
greet = lambda: print('Hello, world!')
greet()

Hello, world!

In [38]:
even_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
even_odd(3)

'Odd'

In [39]:
sqrt_lst = lambda lst: [i ** 2 for i in lst]
sqrt_lst([1, 2, 3])

[1, 4, 9]

## Higher-order Functions
Functions are objects in Python!

In [40]:
def greet():
    print('Hello, world!')

In [41]:
type(greet)

function

In [42]:
# functions can be assigned to variables, just like objects
say_hello = greet  
say_hello()

Hello, world!

In [43]:
# you can add attributes to functions, just like objects
say_hello.invoke_count = 0
say_hello.invoke_count

0

In [44]:
say_hello() 
say_hello.invoke_count += 1
say_hello.invoke_count

Hello, world!

1

In [45]:
# functions can be stored in data structures 
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

operations = {
    "addition": add,
    "subtraction": subtract
}

print(operations["addition"](5, 3))    
print(operations["subtraction"](5, 3))

8
2

In [46]:
# functions can be passed into other functions as arguments
def operations(func, x, y):
    return func(x, y)

print(operations(add, 5, 3))
print(operations(subtract, 5, 3))

8
2

In [47]:
# functions can return functions
def operations(func):
    if func == "addition": 
        return add
    elif func == "subtraction":
        return subtract
        
operations("addition")

In [48]:
operations("addition")(1, 2)

3

A **higher-order function** is a function that
* Takes one or more functions as arguments, and/or
* Returns a function

Python's built-in higher-order functions:
* `map()`
* `filter()`
* `reduce()`
* These functions are typically used with lambda functions

#### `map()`
* Syntax: `map(function, iterable)`
* Applies a function to each item in an iterable

In [49]:
def square(x):
    return x ** 2
# returns a map object, which is also an iterable
sqrt_lst = map(square, range(6))
sqrt_lst

In [50]:
list(sqrt_lst)

[0, 1, 4, 9, 16, 25]

In [51]:
list(map(lambda x: x ** 2, range(6)))

[0, 1, 4, 9, 16, 25]

#### `filter()`
* Syntax: `filter(function, iterable)`
* Filters an iterable based on a boolean function

In [52]:
def is_even(x):
    return x % 2 == 0
# returns a filter object, which is also an iterable
even_lst = filter(is_even, range(6))
even_lst

In [53]:
list(even_lst)

[0, 2, 4]

In [54]:
list(filter(lambda x: x % 2 == 0, range(6)))

[0, 2, 4]

#### `reduce()`
* Syntax: `reduce(function, iterable)`
* Combines all elements in an iterable into a single value by applying a function cumulatively to the items

In [55]:
# reduce() is not a built-in function
# import it from functools
from functools import reduce

def add(x, y):
    return x + y

reduce(add, range(4)) # 0 + 1 + 2 + 3

6

In [56]:
reduce(lambda x, y: x + y, range(4))

6

## Variable Scope

### LEGB Rule
* defines the order in which the interpreter searches for a name (variable, function, etc.)
1. local
2. enclosing
3. global
4. [built-in](https://docs.python.org/3/library/functions.html) (e.g., print(), len())

In [57]:
# you can nested functions!

# if we situated ourselves in the scope of the inner function

x = 10  # global scope

def outer():
    y = 20  # enclosing scope

    def inner():
        z = 30  # local scope
        print(x, y, z)

    inner()
outer()

10 20 30

In [58]:
x = 10  # global 

def scope_example():
    y = 20 # local

y # cannot find y globally
# y is only local to the scope_example function

NameError: name 'y' is not defined

In [59]:
x = 10  # global 

def scope_example():
    # this is a local variable for the scope_example function
    # not the global x
    x = 1000 
    # the interpreter will try to find x locally then gloablly
    print(x)

scope_example()

1000

In [60]:
# globals() returns all global variables
globals()['x']

10

In [61]:
x = 10  

def scope_example():
    x = 1000 
    y = 2000
    # locals() returns all local variables
    print(locals())
    print(x)

scope_example()

{'x': 1000, 'y': 2000}
1000

In [62]:
x = 10  # global scope

def outer():
    y = 20  # enclosing scope

    def inner():
        # similarly, the interpreter will try to find names from smallest scope to largest (LEGB rule)
        y = 2000
        z = 30  # local scope
        print(x, y, z)

    inner()
outer()

10 2000 30

In [63]:
# you can even overwite a built-in name!
print = 10
print

10

In [64]:
print()

TypeError: 'int' object is not callable

In [65]:
# let's revert print function
del print
print('123')

123

In [66]:
x = 10  

def increment():
    # cannot directly modify a larger-scope variable in a smaller scope
    x += 1
    print(x)

increment()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [67]:
x = 10  

def increment():
    global x # global keyword allows you modify a global-scope var in a smaller scope
    x += 1
    print(x)

increment()

11

In [68]:
x = 10  

def outer():
    y = 20  

    def inner():
        y += 10 # similarly, cannot directly modify a larger-scope variable in a smaller scope
        z = 30  
        print(x, y, z)

    inner()
outer()

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [69]:
x = 10  

def outer():
    y = 20  

    def inner():
        nonlocal y # nonlocal keyword allows you modify an enclosing-scope var in a smaller scope
        y += 100
        z = 30  
        print(x, y, z)

    inner()
outer()

10 120 30

In [70]:
x = [1, 2, 3]

def scope_list_example(): 
    x.append(4)

# special case here
# list is mutable, so you're only changing values in the list but not the object (variable value) entirely
scope_list_example()
print(x)

[1, 2, 3, 4]