# Lecture 12 Pandas

Learning Objectives:
* Load datasets into Pandas from files like CSV, Excel, and JSON
* Select rows, columns, and cells
* Filter data based on conditions
* Handle missing values by detecting, filling, or removing them
* Visualize data trends using Pandas' integration with Matplotlib

What's [Pandas](https://pandas.pydata.org/)? 
* A 3rd-party library for data manipulation and analysis
* Ideal for tabular data
* Install with `pip install pandas`

In [ ]:
import pandas as pd  # use pd as the alias

## Data Loading
* `pd.read_csv(filepath)`
* `pd.read_excel(filepath)`
* `pd.read_json(filepath)`

In [ ]:
df = pd.read_csv("netflix_titles.csv")  # load csv into a Pandas DataFrame
df

In [ ]:
# df is a DataFrame
type(df)

## DataFrame Exploration

In [ ]:
# View the first n rows (default is 5)
df.head(3)

In [ ]:
# View the last n rows (default is 5)
df.tail()

In [ ]:
# Get the number of rows and columns
df.shape

In [ ]:
# List column names
df.columns

In [ ]:
# Summary of the DataFrame (columns, types, non-null values)
# Column 3-6 & 8 9 all have missing values
df.info()

In [ ]:
# Statistical summary of numerical columns
df.describe()

## Data Selection

In [ ]:
df.??

In [ ]:
# Select a column
titles = df??
titles

In [ ]:
# Columns are Pandas Series
type(titles)

In [ ]:
pd.core.series.Series.mro()

In [ ]:
# Select multiple column
df[['title', 'type', 'listed_in']]

### Select cell(s)
* single cell
    * `at`  (by label)
    * `iat` (by index)
* multiple cells
    * `loc` (by labels)
    * `iloc`(by indices)

In [ ]:
# Select single cell by labels
# df.at[row label, col label]
df.at[??]

In [ ]:
# Select single cell by indices
# df.iat[row index, col index]
df.iat[??]

In [ ]:
# Select multiple cells by labels
# df.loc[row labels, col labels]
df.loc[??] # slower than df.at if only select a single cell

In [ ]:
# You can use slicing with loc
df.loc[??]

In [ ]:
df.loc[??]

In [ ]:
# Select multiple cells by indices
# df.iloc[row indices, col indices]
df.iloc[??]

In [ ]:
# Assigns one or more columns as the new index of the DataFrame
df.??('title').head(3)

In [ ]:
# Most Pandas functions return a new DataFrame instead of changing in-place!
df.head(3)

In [ ]:
df_title = df.??('title')
# Now you can use titles as row indices to access rows
df_title.loc[??, :]

In [ ]:
df_title.loc[??, :]

In [ ]:
# Resets the index back to default integers
df_title.??().head(3)

## Data Filtering

In [ ]:
df['country'] ??

In [ ]:
# Filter rows based on conditions
df[??]

In [ ]:
# You need to parenthesize each condition
df[(df['country'] == 'United States') & (df['type'] == 'Movie')]

In [ ]:
df[(df['country'] == 'United States') | (df['country'] == 'India')]

## Missing Values Handling
* `df.isna()`: Detect missing values
* `df.fillna(value)`: Fill missing values with a constant or method
* `df.dropna()`: Remove rows or columns containing missing values

In [ ]:
# Count missing values by column
df.??

In [ ]:
# Remove rows with missing values
df.??()

In [ ]:
df_unknown = df.??("Unknown")
df_unknown

## Data Analysis

### Number of movies released by year

In [ ]:
# Count unique values in a column
df['type'].??()

In [ ]:
movies = df[df['type'] == 'Movie']
tv_shows = df[df['type'] == 'TV Show']

In [ ]:
movies['release_year'].??()

In [ ]:
movies['release_year'].??

In [ ]:
# Count movies released after 2010 
movies[??]['release_year'].plot.hist()

### Movies by duration

In [ ]:
# We have missing values in the duration column
movies['duration'].isna().sum()

In [ ]:
def extract_duration(duration): 
    ??
    
# Apply a function to each element in a column
movies['duration'].??(extract_duration)

In [ ]:
# or use lambda function
movies['duration_converted'] = movies['duration'].apply(??)

In [ ]:
movies.head()

In [ ]:
movies['duration_converted'].max()

In [ ]:
movies['duration_converted'].min()

In [ ]:
# Histogram of movie durations
movies['duration_converted'].??

In [ ]:
# Scatter plot of release year vs duration
movies.plot.??

### Movies by genre

In [ ]:
movies['listed_in']

In [ ]:
movie_genre = list(movies['listed_in'])
movie_genre[:10]

In [ ]:
movie_genre_dict = {}
??
movie_genre_dict

In [ ]:
movie_genre_df = pd.DataFrame.??(movie_genre_dict, orient="index", columns=["count"])
movie_genre_df

In [ ]:
movie_genre_df = movie_genre_df.??
movie_genre_df

In [ ]:
movie_genre_df.plot.bar()

### Stacked bar plot of genre based on country
Two ways of iterating a dataframe:
* `df.iterrows()`: Returns an iterator of (index, Series) pairs
* `df.itertuples()`: Returns an iterator of namedtuples for each row

In [ ]:
for row in movies.iterrows(): 
    print(row)
    break

In [ ]:
for row in movies.itertuples(): 
    print(row)
    break

In [ ]:
# indices are genres
movie_genre_df.??

In [ ]:
# columns are countries
movies['country'].??()[:10]

In [ ]:
countries = {}
for c in movies['country']: 
    if pd.isna(c): 
        continue
    country_list = c.split(', ')
    
    ??
country_series = ??
country_series[:10]

In [ ]:
top5_countries = ??
top5_countries

In [ ]:
movie_genre_by_country_df = pd.DataFrame(??
                                        )
movie_genre_by_country_df

In [ ]:
for row in movies.itertuples(): 
    if pd.isna(row.country): 
        continue
    if pd.isna(row.listed_in): 
        continue
    countries = row.country.split(', ')
    genres = row.listed_in.split(', ')
    
    ??

In [ ]:
movie_genre_by_country_df

In [ ]:
movie_genre_by_country_df.??

In [ ]:
# Bar plot by using percentages
movie_genre_by_country_per_df = movie_genre_by_country_df.div(movie_genre_by_country_df.sum(axis=1), axis=0) * 100
movie_genre_by_country_per_df

In [ ]:
movie_genre_by_country_per_df.plot(kind="bar", stacked=True)

### Number of movies released by countries by year

In [ ]:
release_years = df['release_year'].value_counts().sort_index()
release_years

In [ ]:
movie_release_year_by_country_df = pd.DataFrame(0, index=release_years.index, 
                                        columns=top5_countries)

for row in movies.itertuples(): 
    if pd.isna(row.country): 
        continue
    if pd.isna(row.release_year): 
        continue
    countries = row.country.split(', ')
    
    for c in countries: 
        cc = c
        if c in top5_countries: 
            movie_release_year_by_country_df.at[row.release_year, cc] += 1

In [ ]:
movie_release_year_by_country_df

In [ ]:
movie_release_year_by_country_df.plot()